[submodule "AbstractionLayer"]
	path = AbstractionLayer
	url = https://github.com/DJDoena/AbstractionLayer.git
[submodule "ToolBox"]
	path = ToolBox
	url = https://github.com/DJDoena/ToolBox.git
[submodule "Microsoft.WindowsAPICodePack"]
	path = Microsoft.WindowsAPICodePack
	url = https://github.com/DJDoena/Microsoft.WindowsAPICodePack.git
[submodule "MediaInfoHelper"]
	path = MediaInfoHelper
	url = https://github.com/DJDoena/MediaInfoHelper.git
