<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DoenaSoft.CopySeries.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DoenaSoft.CopySeries.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<DoenaSoft.CopySeries.Properties.Settings>
			<setting name="TargetPath" serializeAs="String">
				<value>C:\</value>
			</setting>
			<setting name="PreserveFolderStructure" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Filter" serializeAs="String">
				<value/>
			</setting>
			<setting name="AutoApplyFilter" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NoSubs" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="OnlyHD" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="OnlySD" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="LastUse" serializeAs="String">
				<value>01/01/2000 00:00:01</value>
			</setting>
			<setting name="IgnoreResolutionFolders" serializeAs="String">
				<value>False</value>
			</setting>
		</DoenaSoft.CopySeries.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<DoenaSoft.CopySeries.Properties.Settings>
			<setting name="SourcePath" serializeAs="String">
				<value>\\server\share\</value>
			</setting>
		</DoenaSoft.CopySeries.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
	</startup>
</configuration>
